.LogoIndex {
  content: url(../../login/imagenes/logo/100.png);
  background-size:50px 65px;
  width: 50px;
  height: 65px;
}

.LogoLogin {
  content: url(../../login/imagenes/logo/100.png);
  width: 100px;
  height: 131px;
  border:0px;
}