<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title"> Grupos Idiomas</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-pane">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-pills nav-justified ">
                            <li id="liS1"><a href="#divConsultar" data-toggle="tab" class="btn btn-circle default"> Grupos   </a></li>
                            <li id="liS2"><a href="#divCrear" data-toggle="tab" class="btn btn-circle default"> Nuevo Grupo</a></li>
                            <li id="liS3"><a href="#divEliminar" data-toggle="tab" class="btn btn-circle default"> Eliminar Grupo</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table" id="tblContenido">

                    <div id="divCrear" hidden>

                        <form id="frmgroup">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label class="control-label">Nombre del grupo: </label> &nbsp;
                                </div>
                                <div class="col-md-4 form-group">
                                    <input type="text" id="txtNombreGrupo" class="form-control font-md" tabindex="1" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div> &nbsp;</div>
                                <div class="col-md-2">
                                    <label class="control-label">Cuatrimestre: </label>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" name="slcCuatrimestre" id="slcCuatrimestre"></select>
                                </div>
                            </div>

                            <div class="col-md-12">

                                <div> &nbsp;</div>
                                <div class="col-md-12">
                                    <a class="btn blue" id="btnCrearGrupo" tabindex="2">Guardar</a>
                                </div>
                            </div>
                        </form>



                    </div>

                    <div id="divConsultar">

                        <div class="col-md-12">

                            <div class="col-md-12">
                                <a href="javascript:;" class="btn default button-Nuevo" id="btnAlumnosIdiomas">Alumnos De Idiomas</a>

                            </div>
                            <div class="col-md-12 table-container">
                                <div> &nbsp;</div>
                                <div class="portlet-body" id="divGruposIdiomas">
                                    <table id="dtGruposIdiomas" class="table table-striped table-bordered table-advance table-hover ">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <i class="fa fa-indent"></i> &nbsp; Grupo Id
                                                </th>
                                                <th>
                                                    <i class="fa fa-users"></i> &nbsp; Nombre Grupo
                                                </th>
                                                <th>
                                                    <i class="fa fa-calendar"></i> &nbsp;  Cuatrimestre
                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                        </div>




                    </div>


                    <div id="divEliminar" hidden>


                        <div class="col-md-12">

                            <div class="portlet-body" id="divGruposIdiomas1">
                                <table id="dtGruposIdiomas1" class="table table-striped table-bordered table-advance table-hover ">
                                    <thead>
                                        <tr>
                                            <th>
                                                <i class="fa fa-indent"></i> &nbsp; Grupo Id
                                            </th>
                                            <th>
                                                <i class="fa fa-users"></i> &nbsp; Nombre Grupo
                                            </th>
                                            <th>
                                                <i class="fa fa-calendar"></i> &nbsp;  Cuatrimestre
                                            </th>
                                            <th>

                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>



                    </div>

                    <div id="DivAgregarAlumnos" hidden>


                        <div class="col-md-12">
                            <h4 class="caption-subject font-blue-sharp bold uppercase"> Alumnos de Idiomas</h4>                            
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div> &nbsp;</div>
                            <button id="btnAtrasAlumnosGrupos1" class="btn default button-Nuevo"><i class="fa fa-arrow-circle-left"></i> Regresar Grupos</button>
                        </div>
                        <div class="col-md-12 table-container">
                            <div> &nbsp;</div>
                            <div class="portlet-body" id="divAlumnos">
                                <table id="dtAlumnos" class="table table-striped table-bordered table-advance table-hover ">
                                    <thead>
                                        <tr>
                                            <th>
                                                <i class="fa fa-indent"></i> &nbsp; Alumno Id
                                            </th>
                                            <th>
                                                <i class="fa fa-male"></i> &nbsp; Nombre Alumno
                                            </th>
                                            <th>
                                                <i class="fa fa-graduation-cap"></i> &nbsp;  OfertaEducativa
                                            </th>
                                            <th>
                                                <i class="fa fa-file-text"></i> &nbsp;  Tipo de Curso
                                            </th>
                                            <th>
                                                <i class="fa fa-users"></i> &nbsp;  Grupo
                                            </th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div id="DivAlumnosGrupo" hidden>



                        <div class="col-md-12">

                            <div class="col-md-12">

                                <div class="col-md-1"></div>
                                <div class="col-md-6">
                                    <h4 class="caption-subject font-blue-sharp bold uppercase" id="NombreGrupo"> </h4>
                                </div>
                                <div class="col-md-3"></div>

                            </div>

                            <hr />

                            <div class="col-md-1"></div>


                            <div class="col-md-11">
                                <div> &nbsp;</div>
                                <button id="btnAtrasAlumnosGrupos" class="btn default button-Nuevo"><i class="fa fa-arrow-circle-left"></i> Regresar Grupos</button>
                            </div>

                            <div class="col-md-1"></div>
                            <div class="col-md-11 table-container">
                                <div> &nbsp;</div>
                                <div class="portlet-body" id="divGruposAlumnos">
                                    <table id="dtGruposAlumnos" class="table table-striped table-bordered table-advance table-hover ">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <i class="fa fa-indent"></i> &nbsp; Alumno Id
                                                </th>
                                                <th>
                                                    <i class="fa fa-male"></i> &nbsp; Nombre Alumno
                                                </th>
                                                <th>
                                                    <i class="fa fa-graduation-cap"></i> &nbsp;  OfertaEducativa
                                                </th>
                                                <th>
                                                    <i class="fa fa-graduation-cap"></i> &nbsp;  Curso de Tipo
                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<main>
    <!--PopupEmpresa nuevo grupo y editar-->
    <div class="modal fade" tabindex="-1" data-width="850" data-height="150" id="PopGrupo">
        <div class="modal-dialog modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="btnClosedivCom" aria-hidden="true"></button>
                    <h3 class="modal-title">Modificar Grupo</h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <label class="control-label">Nombre del grupo: </label> &nbsp;
                        <input type="text" id="txtNombreGrupo1" class="form-control font-md" tabindex="1" />
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Cuatrimestre: </label>
                        <select class="form-control" name="slcCuatrimestre1" id="slcCuatrimestre1"></select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="btnCerrar">Cerrar</button>
                    <button id="btnGrupoG1" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Fin de popup-->
    <!--Popup de asignar grupo-->
    <div class="modal fade" tabindex="-1" data-width="850" data-height="150" id="PopAlumnoGrupoAsignar">
        <div class="modal-dialog modal-dialog" style="width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="btnClosedivCom" aria-hidden="true"></button>
                    <h3 class="modal-title">Asignación de Grupo</h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <label class="control-label"> Grupo</label>
                        <select id="slcGrupo" class="form-control"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="btnCerrarGrupo1">Cerrar</button>
                    <button id="btnAlumnoGrupoAsignar" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!--Popup de grupo-->

    <div class="modal fade" tabindex="-1" data-backdrop="static" data-width="750" id="PopComentario" data-keyboard="false">
        <div class="modal-dialog modal-sm" style="width:700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="btnClosedivCom" aria-hidden="true"></button>
                    <h3 class="modal-title">Comentario</h3>
                </div>
                <div class="modal-body">
                    <label class="control-label"> ¿Por qué se está solicitando la cancelacion del cargo?</label>
                    <textarea id="txtComentario" class="form-control" required="required" autofocus="autofocus"></textarea>
                </div>
                <div class="modal-footer">
                    <a id="btnGuardar" class="btn red">Cancelar Cargo</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $.getScript("JS/Grupos/GruposIdiomas.js");
</script>