<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title bold">ESTADO DE CUENTA </span>
            </div>
        </div>

        <div class="panel-body">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Periodo</label>
                        <div class="input-group">
                            <input type="text" name="daterange" id="txtPeriodo" class="form-control" readonly />
                            <span class="input-group-addon" id="start-date"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" id="btnBuscar">
                                Consultar
                                <span class="glyphicon glyphicon-search fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <label class="control-label black" style="font-weight:bold;" id="lblNombre"></label>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-advance table-hover table-responsive" id="tblEstado">
                        <thead>
                            <tr class=".bg-primary">
                                <th style="text-align:center;" class="bg-primary">
                                    Fecha &nbsp; <i class="fa fa-calendar"></i>
                                </th>
                                <th style="text-align:center;" class="bg-primary">
                                    Concepto &nbsp; <i class="fa fa-info"></i>
                                </th>
                                <th style="text-align:center;" class="bg-primary">
                                    Referencia &nbsp; <i class="fa fa-list"></i>
                                </th>
                                <th style="text-align:center;" class="bg-primary">
                                    Cargo &nbsp; <i class="fa fa-file-text-o"></i>
                                </th>
                                <th style="text-align:center;" class="bg-primary">
                                    Deposito &nbsp; <i class="fa fa-plus-circle"></i>
                                </th>
                                <th style="text-align:center;" class="bg-primary">
                                    Saldo &nbsp; <i class="fa fa-dollar"></i>
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $.getScript("Style/assets/global/plugins/jquery-validation/js/additional-methods.min.js");
    $.getScript("Style/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js");
    $.getScript("JS/Pagos/EstadodeCuenta.js");
</script>
