<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title bold">
                    Reinscripción
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Oferta Educativa</label>
                        <select class="form-control" id="slcOfertaEducativa">
                            <option value="-1">--Seleccionar--</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" id="btnGenerar">
                                Generar
                                <span class="fa fa-save"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <div class="col-md-8">
                        <label class="control-label" style="font-size: 16px">Alumno:</label>
                        <label id="lblAlumno" class="control-label" style="font-size: 16px"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="divpul" hidden>
                    <div id="pulsate-regular" style="padding: 5px;">
                        <p class="h4">
                            Si ya terminaste la Especialidad y deseas seguir estudiando la Maestría.
                            Por favor acudir con Relaciones Publicas para que te den de alta en la Maestría que deseas estudiar.
                            </>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<script>
    $.getScript("JS/Reinscripcion/Reinscripcion.js");
</script>