
<div class="page-content">
    <!-- BEGIN PAGE HEAD -->
    <div class="container" id="divContenido">

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <h2 class="caption title font-blue-sharp "> REAJUSTE DE CUOTAS </h2>
                            </div>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="col-md-12">
                                    <label class="control-label">Clave del Alumno</label>
                                    <input type="number" id="txtClave" class="form-control-static font-md" tabindex="1" />
                                    <a class="btn blue" id="btnBuscar" tabindex="2">Buscar Alumno</a>
                                </div>

                                <div class="col-md-12">
                                    <div> &nbsp;</div>
                                    <div class="form-group col-md-6">
                                        <br />
                                        <label class="control-label">Alumno: </label>&nbsp;&nbsp;
                                        <label class="bold" id="lblNombre"></label>&nbsp;&nbsp;
                                    </div>
                                    <div class="col-md-12" style="padding:8px;">
                                        <label class="control-label bold font-red-flamingo" id="lblInscito"></label>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-group col-md-5">
                                            <label class="control-label"> Oferta Educativa </label>
                                            <select id="slcOferta" name="slcOferta" class="form-control"></select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label"> Periodo </label>
                                            <select id="slcPeriodo" name="slcPeriodo" class="form-control"></select>
                                        </div>

                                            <div class="col-md-12 form-group">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="chkInAjustar" name="chkInAjustar">
                                                    <label class="control-label" for="chkInAjustar">
                                                        Ajustar Cuotas
                                                    </label>
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <label class="control-label"> Cuota Inscripción</label>
                                                    <input type="number" class="form-control" id="txtCuotaInscripcion" name="txtCuotaInscripcion" disabled="" >
                                                </div>
                                                <div class="col-md-3 form-group">                                                    
                                                    <label class="control-label"> Cuota Colegiatura </label>
                                                    <input type="number" class="form-control" id="txtCuotaColegiatura" name="txtCuotaColegiatura" disabled="">
                                                </div>
                                                <div class="col-md-1 form-group">
                                                    <br />
                                                    <button class="btn green" id="btnGenerar" tabindex="2">Generar</button>
                                                </div>
                                            </div>
                                    </div>


                                </div>

                            </div>

                        </div>



                        <div class="modal fade" tabindex="-1" data-backdrop="static" id="Load" data-keyboard="false">
                            <div class="modal-dialog modal-sm" style="height: 90px;">
                                <!--<div class="modal-content" style="width:auto">-->
                                <div class="form-group">
                                    <h3 id="hCarga">Cargando</h3>
                                </div>
                                <div class="form-group">
                                    <div class="bar" style="width:auto" id="divBar">
                                        <p id="txtBar"></p>
                                    </div>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/Empresas/ReAjusteCuotas.js"></script>
