<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                    <span class="caption title">REFERENCIAS BANCARIAS </span>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-md-12">
                <div class="col-md-9">
                    <div class="col-md-10 form-group">
                        <label class="control-label">Cuatrimestre:</label>
                        <select class="form-control col-md-12" id="sclPeriodo">
                            <option value="-1">--Seleccionar--</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered1 dataTables" id="tblReferencias" hidden="hidden">
                        <thead>
                            <tr>
                                <th class="Titulo-Tabla" colspan="2"></th>
                                <th class="Titulo-Tabla bold" colspan="2">Cargo</th>
                                <th class="Titulo-Tabla bold" colspan="2"></th>
                                <th class="Titulo-Tabla bold" colspan="2">BECA Academica</th>
                                <th class="Titulo-Tabla bold" colspan="2" id="thBeca">BECA Academica</th>
                                <th class="Titulo-Tabla bold" colspan="1"></th>
                                <th class="Titulo-Tabla bold" colspan="1"></th>
                            </tr>
                            <tr>
                                <th class="Titulo-Tabla">
                                    Concepto
                                </th>
                                <th class="Titulo-Tabla">
                                    Referencia
                                </th>
                                <th class="Titulo-Tabla">
                                    $
                                </th>
                                <th class="Titulo-Tabla">
                                    Fecha <br /> Limite de Pago
                                </th>
                                <th class="Titulo-Tabla">
                                    Descuento por <br /> pago anticipado
                                </th>
                                <th class="Titulo-Tabla">
                                    Cargos - <br /> Descuento por <br /> pago anticipado
                                </th>
                                <th class="Titulo-Tabla">%</th>
                                <th class="Titulo-Tabla">$</th>
                                <th class="Titulo-Tabla" id="thBecaP">%</th>
                                <th class="Titulo-Tabla" id="thBecaM">$</th>
                                <th class="Titulo-Tabla">Total a Pagar</th>
                                <th class="Titulo-Tabla">Saldo por pagar</th>

                                <!--<th class="Titulo-Tabla">
                                Recargo después de<br /> fecha límite de pago
                            </th>
                            <th class="Titulo-Tabla">
                                Total a pagar con<br /> recargos
                            </th>-->
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-hover table-bordered1 dataTables" id="tblReferencias2" hidden="hidden">
                        <thead>
                            <tr>
                                <th class="Titulo-Tabla" colspan="2"></th>
                                <th class="Titulo-Tabla bold" colspan="2">Cargo</th>
                                <th class="Titulo-Tabla bold" colspan="2"></th>
                                <th class="Titulo-Tabla bold" colspan="2">BECA Academica</th>
                                <th class="Titulo-Tabla bold" colspan="1"></th>
                                <th class="Titulo-Tabla bold" colspan="1"></th>
                            </tr>
                            <tr>
                                <th class="Titulo-Tabla">
                                    Concepto
                                </th>
                                <th class="Titulo-Tabla">
                                    Referencia
                                </th>
                                <th class="Titulo-Tabla">
                                    $
                                </th>
                                <th class="Titulo-Tabla">
                                    Fecha <br /> Limite de Pago
                                </th>
                                <th class="Titulo-Tabla">
                                    Descuento por <br /> pago anticipado
                                </th>
                                <th class="Titulo-Tabla">
                                    Cargos - <br /> Descuento por <br /> pago anticipado
                                </th>
                                <th class="Titulo-Tabla">%</th>
                                <th class="Titulo-Tabla">$</th>
                                <th class="Titulo-Tabla">Total a Pagar</th>
                                <th class="Titulo-Tabla">Saldo por pagar</th>

                                <!--<th class="Titulo-Tabla">
                                Recargo después de<br /> fecha límite de pago
                            </th>
                            <th class="Titulo-Tabla">
                                Total a pagar con<br /> recargos
                            </th>-->
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12">
                    <p style="font-size:12px">
                        Para un mayor detalle de tus pagos, consulta tu estado de cuenta.
                    </p>
                </div>
                <div class="col-md-8" style="background-color:#F8CBAD; height:200px;width:400px" id="divAnticipado" hidden="hidden">
                    <h4 class="bold">Pago Anticipado:</h4>
                    <p style="font-size:12px">
                        Si vas hacer tu pago anticipado tienes hasta el 31 de agosto para pagar los siguientes montos con
                        las referencias indicadas:
                    </p>
                    <div id="divtablas">

                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $.getScript("JS/Pagos.js");
</script>
   