<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Pagos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="pragma" content="no-cache" />
</head>
<body style="font-size: 10px !important">
    <div class="page-content">
        <!-- BEGIN PAGE HEAD -->
        <div class="container" id="divContenido">

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    <img src="Imagenes/UYMCA-100px.png" width="70" />
                                </div>
                                <div class="col-md-6">
                                    <h4 class="caption title">REFERENCIAS BANCARIAS </h4>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="col-md-12 form-group" id="divBuscar">
                                <div class="col-md-12">
                                    <label class="control-label">Clave o Nombre del Alumno</label>&nbsp;
                                    <input type="text" id="txtClave" class="form-control-static font-md" style="text-align:right" />&nbsp;
                                    <a class="btn blue" id="btnBuscar"  tabindex="2">Buscar</a>
                                </div>
                                <div class="col-md-12">
                                    <div class="portlet-body form" id="frmVarios" hidden="hidden">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-advance table-hover" id="tblAlumnos">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <i class="fa fa-user"></i>&nbsp; AlumnoId
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-user"></i>&nbsp; Nombre
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-calendar"></i>&nbsp; Registro
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-graduation-cap"></i>&nbsp; Oferta Educativa
                                                        </th>
                                                        <th>
                                                            <i class="fa fa-edit"></i>&nbsp; Acción
                                                        </th>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <br />
                                    <b><label class="control-label black" style="font-weight:bold" id="lblNombre"></label></b> 
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label ">Cuatrimestre:</label>
                                    <select class="form-control font-md col-md-6" id="sclPeriodo">
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover table-bordered1 dataTables" id="tblReferencias" hidden="hidden">
                                        <thead>
                                            <tr>
                                                <th class="Titulo-Tabla" colspan="2"></th>
                                                <th class="Titulo-Tabla bold" colspan="2">Cargo</th>
                                                <th class="Titulo-Tabla bold" colspan="2"></th>
                                                <th class="Titulo-Tabla bold" colspan="2">BECA Academica</th>
                                                <th class="Titulo-Tabla bold" colspan="2" id="thBeca">BECA Academica</th>
                                                <th class="Titulo-Tabla bold" colspan="1"></th>
                                                <th class="Titulo-Tabla bold" colspan="1"></th>
                                                <th class="Titulo-Tabla bold" colspan="1"></th>
                                            </tr>
                                            <tr>
                                                <th class="Titulo-Tabla">
                                                    Concepto
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Referencia
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    $
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Fecha <br /> Limite de Pago
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Descuento por <br /> pago anticipado
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Cargos - <br /> Descuento por <br /> pago anticipado
                                                </th>
                                                <th class="Titulo-Tabla">%</th>
                                                <th class="Titulo-Tabla">$</th>
                                                <th class="Titulo-Tabla" id="thBecaP">%</th>
                                                <th class="Titulo-Tabla" id="thBecaM">$</th>
                                                <th class="Titulo-Tabla">Otros <br /> Descuentos</th>
                                                <th class="Titulo-Tabla">Total a Pagar</th>
                                                <th class="Titulo-Tabla">Saldo por pagar</th>

                                                <!--<th class="Titulo-Tabla">
                                                    Recargo después de<br /> fecha límite de pago
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Total a pagar con<br /> recargos
                                                </th>-->
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table table-hover table-bordered1 dataTables" id="tblReferencias2" hidden="hidden">
                                        <thead>
                                            <tr>
                                                <th class="Titulo-Tabla" colspan="2"></th>
                                                <th class="Titulo-Tabla bold" colspan="2">Cargo</th>
                                                <th class="Titulo-Tabla bold" colspan="2"></th>
                                                <th class="Titulo-Tabla bold" colspan="2">BECA Academica</th>
                                                <th class="Titulo-Tabla bold" colspan="1"></th>
                                                <th class="Titulo-Tabla bold" colspan="1"></th>
                                                <th class="Titulo-Tabla bold" colspan="1"></th>
                                            </tr>
                                            <tr>
                                                <th class="Titulo-Tabla">
                                                    Concepto
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Referencia
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    $
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Fecha <br /> Limite de Pago
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Descuento por <br /> pago anticipado
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Cargos - <br /> Descuento por <br /> pago anticipado
                                                </th>
                                                <th class="Titulo-Tabla">%</th>
                                                <th class="Titulo-Tabla">$</th>
                                                <th class="Titulo-Tabla">Otros <br /> Descuentos</th>
                                                <th class="Titulo-Tabla">Total a Pagar</th>
                                                <th class="Titulo-Tabla">Saldo por pagar</th>

                                                <!--<th class="Titulo-Tabla">
                                                    Recargo después de<br /> fecha límite de pago
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Total a pagar con<br /> recargos
                                                </th>-->
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table table-hover table-bordered1 dataTables" id="tblReferencias3" hidden="hidden">
                                        <thead>
                                            <tr>
                                                <th class="Titulo-Tabla">
                                                    Concepto
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Referencia
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Fecha <br /> Limite de Pago
                                                </th>
                                                <th class="Titulo-Tabla">Cuota</th>
                                                <th class="Titulo-Tabla">Otros <br /> Descuentos</th>
                                                <th class="Titulo-Tabla">Saldo por pagar</th>
                                                 
                                                <!--<th class="Titulo-Tabla">
                                                    Recargo después de<br /> fecha límite de pago
                                                </th>
                                                <th class="Titulo-Tabla">
                                                    Total a pagar con<br /> recargos
                                                </th>--> 
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <p style="font-size:12px">
                                        Para un mayor detalle de tus pagos, consulta tu estado de cuenta.
                                    </p>
                                </div>
                                <div class="col-md-8" style="background-color:#F8CBAD; height:200px;width:400px" id="divAnticipado" hidden="hidden">
                                    <h4 class="bold">Pago Anticipado:</h4>
                                    <p style="font-size:12px">
                                        Si vas hacer tu pago anticipado tienes hasta el 29 de diciembre para pagar los siguientes montos con
                                        las referencias indicadas:
                                    </p>
                                    <div id="divtablas">

                                    </div>

                                </div>
                                <div class="col-md-7  form-body">
                                    <div class="col-md-10" style="border-width: 1px; border-style: dashed; border-color: black;">
                                        <div class="col-md-12">
                                            <label class="control-label bold" style="font-size: 10px">Banco Scotiabank</label>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label" style="font-size: 10px">No. de Cuenta: 00105771894</label>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label" style="font-size: 10px">Nombre del Cliente: Universidad YMCA A.C.</label>
                                        </div>
                                        <div class="col-md-12">
                                            <label class="control-label" style="font-size: 10px">Moneda: MXN</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-body">
                                    <br />
                                    <p>
                                        <strong>Puntos muy importantes que debes recordar y tomar en cuenta:	 </strong>
                                    </p>
                                    <strong>• Nuevas referencias bancarias de pago.</strong><p>Todas tus referencias de pago son nuevas, esto es, ya no uses las referencias de pago que se venían manejando, por favor toma las que dice este portal.													</p>
                                    <strong>• Paga la cantidad exacta.</strong><p>La cantidad exacta de tu inscripción y colegiaturas estará publicada en el portal, las becas se estarán reflejando en tiempo y forma a partir de la segunda colegiatura.													</p>
                                    <strong>• Pagos anticipados se pagan al 100%.</strong><p>La inscripción y la primera colegiatura siempre se pagan al 100%.													</p>
                                    <strong>• Beca.</strong><p>De acuerdo al reglamento debes mantener tu promedio mínimo de 8.5, no haber reprobado ninguna materia y tampoco haber dado de baja ninguna materia, si sigues manteniendo tu buen promedio, las cuotas de pago de la segunda colegiatura en adelante se actualizarán y se harán los ajustes de tu beca.													</p>
                                    <strong>• Presenta esta hoja en el banco.</strong><p>Para garantizar tu correcto estado de cuenta y no tengas contratiempos con tus tramites,  Imprime esta pantalla de pagos y preséntala al cajero de scotiabank.													</p>
                                    <strong>• Conserva tu comprobante de pago. </strong>
                                    <p>Para cualquier aclaración ante la Universidad YMCA, debes presentar el comprobante de pago que te entrega el banco.													</p>

                                </div>
                            </div>
                        </div>
                        <div class="modal fade" tabindex="-1" data-backdrop="static" id="Load" data-keyboard="false">
                            <div class="modal-dialog modal-sm" style="height: 90px;">
                                <!--<div class="modal-content" style="width:auto">-->
                                <div class="form-group">
                                    <h3 id="hCarga">Cargando</h3>
                                </div>
                                <div class="form-group">
                                    <div class="bar" style="width:auto" id="divBar">
                                        <p id="txtBar"></p>
                                    </div>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/Pagos/ReferenciasBuscar.js"></script>
</body>
</html>
