<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title">REFERENCIAS BANCARIAS DE TRAMITES</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" id="divBuscar">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Clave del Alumno</label>
                        <input type="text" id="txtClave" class="form-control-static font-md" tabindex="1" />
                        <button class="btn blue" id="btnBuscar" tabindex="2">Buscar Alumno</button>
                    </div>
                    <div class="col-md-6">
                        <div class="alert alert-info">
                            <strong>Información! </strong> En este Modulo solo encontraras referencias generadas a partir del periodo 2016 - 2. <br>
                            <strong>* </strong> Referencias de periodos anteriores consultarlas en clipper.
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br />
                    <b><label class="control-label black" style="font-weight:bold" id="lblNombre"></label></b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover table-bordered1 dataTables" id="tblReferencias3">
                        <thead>
                            <tr>
                                <th class="Titulo-Tabla">
                                    Concepto
                                </th>
                                <th class="Titulo-Tabla">
                                    Referencia
                                </th>
                                <th class="Titulo-Tabla" style="text-align:center">
                                    Periodo
                                </th>
                                <th class="Titulo-Tabla" style="text-align:center">
                                    Fecha <br /> Limite de Pago
                                </th>
                                <th class="Titulo-Tabla" style="text-align:center">Usuario</th>
                                <th class="Titulo-Tabla" style="text-align:right">Promesa</th>
                                <th class="Titulo-Tabla" style="text-align:right">Descuento</th>
                                <th class="Titulo-Tabla" style="text-align:right">Pagado</th>
                                <th class="Titulo-Tabla" style="text-align:right">Saldo por pagar</th>
                                <th class="Titulo-Tabla" style="text-align:center">Estatus</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $.getScript("JS/Pagos/ReferenciasTramites.js");
</script>