<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title">REFERENCIAS BANCARIAS</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" id="divBuscar">
                <div class="col-md-12">
                    <div class="clearfix">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn green active" id="rdAlumno">
                                <input type="radio" class="toggle"> Clave Alumno
                            </label>
                            <label class="btn green" id="rdReferencias">
                                <input type="radio" class="toggle"> Referencia
                            </label>
                            <label class="btn green " id="rdImporte">
                                <input type="radio" class="toggle"> Importe
                            </label>
                            <label class="btn green " id="rdFecha">
                                <input type="radio" class="toggle"> Fecha De Pago
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div>&nbsp;</div>
                </div>

                <div class="col-md-12 form-group">
                    <div class="col-md-1">
                        <label class="control-label" id="lbBuscar">Clave Alumno</label>
                    </div>
                    <div class="col-md-2" id="divClave">
                        <input type="text" id="txtClave" class="form-control-static font-md" tabindex="1" />
                    </div>

                    <div class="col-md-4" id="dpbuscar" style="display:none">
                        <div class="input-group col-md-12 date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                            <input id="txtFechaInicio" name="txtFechaInicio" type="text" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <button class="btn blue" id="btnBuscar" " tabindex="2">Buscar</button>
                    </div>

                </div>


            </div>
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-hover table-bordered1 dataTables" id="tblReferencias3">
                        <thead>
                            <tr>
                                <th class="Titulo-Tabla" style="text-align:left">
                                    Alumno Id
                                </th>
                                <th class="Titulo-Tabla" style="text-align:left">
                                    Nombre Alumno
                                </th>
                                <th class="Titulo-Tabla" style="text-align:right">
                                    Referencia
                                </th>
                                <th class="Titulo-Tabla" style="text-align:center">
                                    Fecha de pago
                                </th>
                                <th class="Titulo-Tabla" style="text-align:right">
                                    Importe
                                </th>
                                <th class="Titulo-Tabla" style="text-align:right">Monto Pagado</th>
                                <th class="Titulo-Tabla" style="text-align:right">Saldo por pagar</th>

                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $.getScript("JS/Pagos/ReferenciasConsulta.js");
</script>
