<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title">Cancelación de referencias bancarias</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <label class="control-label">Clave del Alumno</label>
                        <input type="text" id="txtClave" class="form-control-static font-md" tabindex="1" />
                        <a class="btn blue" id="btnBuscar" href="javascript:return 0;" tabindex="2">Buscar Alumno</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr />
                    <div class="col-md-8">
                        <label class="control-label" style="font-size: 12px">Alumno:</label>
                        <label id="lblAlumno" class="control-label" style="font-size: 12px;font-weight:bold"></label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 table-container">
                    <table class="table table-hover table-bordered1 dataTables" id="tblReferencias">
                        <thead>
                            <tr>
                                <th class="Titulo-Tabla">
                                    Concepto
                                </th>
                                <th class="Titulo-Tabla">
                                    Referencia
                                    <br />
                                    Bancaria
                                </th>
                                <th class="Titulo-Tabla">
                                    Fecha
                                    <br />
                                    Generación
                                </th>
                                <th class="Titulo-Tabla">Promesa</th>
                                <th class="Titulo-Tabla">Pagado</th>
                                <th class="Titulo-Tabla">
                                    Fecha de Vigencia
                                    <br />
                                    de referencia
                                </th>
                                <th class="Titulo-Tabla">Estatus</th>
                                <th class="Titulo-Tabla">Acción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" tabindex="-1" data-backdrop="static" data-width="750" id="PopComentario" data-keyboard="false">
    <div class="modal-dialog modal-sm" style="width:700px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="btnClosedivCom" aria-hidden="true"></button>
                <h3 class="modal-title">Comentario</h3>
            </div>
            <div class="modal-body">
                <label class="control-label"> ¿Por qué se está cancelando el cargo?</label>
                <textarea id="txtComentario" class="form-control" required="required" autofocus="autofocus"></textarea>
            </div>
            <div class="modal-footer">
                <a id="btnGuardar" class="btn red">Cancelar Cargo</a>
            </div>
        </div>
    </div>
</div>
<script>
    $.getScript("JS/Referencias/CancelarReferencias.js");
</script>