<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Generar Referencias</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="pragma" content="no-cache" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="Style/assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="Style/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" />
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="Style/assets/global/plugins/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="Style/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" />
    <link href="Style/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" />
    <link href="Style/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="Style/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN /theme STYLES -->
    <link href="Style/assets/admin/pages/css/invoice.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/nouislider/jquery.nouislider.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/nouislider/jquery.nouislider.pips.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="Style/assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="JS/themes/alertify.core.css" rel="stylesheet" />
    <link href="JS/themes/alertify.default.css" rel="stylesheet" />
    <link href="JS/ProgresLoad/LoadPage.css" rel="stylesheet" />

</head>
<body>
    <div class="page-content">
        <!-- BEGIN PAGE HEAD -->
        <div class="container" id="divContenido">

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <h1 class="caption-subject font-blue bold uppercase">
                                    Generación  de referencias bancarias
                                </h1>
                                <div class="col-md-1" id="Imprimir">
                                    <a id="btnImprimir" href="javascript:return 0;">
                                        <img src="Imagenes/Impresora.png" width="70" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table" id="tblContenido">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label class="control-label">Clave del Alumno</label>
                                            <input type="text" id="txtClave" class="form-control-static font-md" tabindex="1" />
                                            <a class="btn blue" id="btnBuscar" href="javascript:return 0;" tabindex="2">Buscar Alumno</a>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-5">
                                            <label class="control-label">Oferta Educativa</label>
                                            <select class="form-control" id="slcOfertaEducativa"></select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Concepto</label>
                                            <select class="form-control" id="slcConceptos"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group"></div>
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <button class="btn form-control blue" id="btnGenerar">Generar</button>
                                        </div>

                                    </div>
                                    <div class="col-md-12">
                                        <hr />
                                        <div class="col-md-8">
                                            <label class="control-label" style="font-size: 10px">Alumno:</label>
                                            <label id="lblAlumno" class="control-label" style="font-size: 10px"></label>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="control-label" style="font-size: 10px">
                                                Tus referencias de pago para el cuatrimestre de Enero a Abril del 2016 son:
                                            </label>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="control-label bold " style="font-size: 10px; color: red;" id="txtAdeudo">
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-12 table-container">


                                        <table class="table table-hover table-bordered1 dataTables" id="tblReferencias">
                                            <thead>
                                                <tr>
                                                    <th class="Titulo-Tabla">
                                                        Concepto
                                                    </th>
                                                    <th class="Titulo-Tabla">
                                                        Referencia
                                                        <br />
                                                        Bancaria
                                                    </th>
                                                    <th class="Titulo-Tabla">
                                                        Fecha
                                                        <br />
                                                        Generación
                                                    </th>
                                                    <th class="Titulo-Tabla">Monto</th>
                                                    <th class="Titulo-Tabla">Fecha de Vigencia de referencia</th>
                                                    <th class="Titulo-Tabla">Acción</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="col-md-7  form-body">
                                        <div class="col-md-10" style="border-width: 1px; border-style: dashed; border-color: black;">
                                            <div class="col-md-12">
                                                <label class="control-label bold" style="font-size: 10px">Banco Scotiabank</label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="control-label" style="font-size: 10px">No. de Cuenta: 00105771894</label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="control-label" style="font-size: 10px">Nombre del Cliente: Universidad YMCA A.C.</label>
                                            </div>
                                            <div class="col-md-12">
                                                <label class="control-label" style="font-size: 10px">Moneda: MXN</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal fade" tabindex="-1" data-backdrop="static" id="divBar" data-keyboard="false">
                                <div class="modal-dialog modal-sm" style="height: 90px;">
                                    <!--<div class="modal-content" style="width:auto">-->
                                    <div class="form-group">
                                        <h3 id="hCarga">Cargando</h3>
                                    </div>
                                    <div class="form-group">
                                        <div class="bar" style="width:auto" id="divBar">
                                            <p id="txtBar"></p>
                                        </div>
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <a href="#Monto" data-toggle="modal" hidden="hidden" id="btnPopup"></a>
                            <div class="modal fade" tabindex="-1" data-backdrop="static" id="Monto" data-keyboard="false">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" id="bntClose" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                            <h3 class="modal-title">Insertar Monto</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="table">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form content col-md-8">
                                                            <label class="control-label">Monto</label>
                                                            <input type="number" class="form-control" id="txtMonto" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn red" id="btnCancelar" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                            <button class="btn blue" id="btnMonto">Guardar</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal fade" tabindex="-1" data-backdrop="static" data-width="750" id="PopComentario" data-keyboard="false">
                                <div class="modal-dialog modal-sm" style="width:700px">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" id="btnClosedivCom" aria-hidden="true"></button>
                                        <h3 class="modal-title">Comentario</h3>
                                    </div>
                                    <div class="modal-body">
                                        <label class="control-label"> ¿Por qué se esta cancelando el cargo?</label>
                                        <textarea id="txtComentario" class="form-control" required="required" autofocus="autofocus" ></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <a id="btnGuardar" class="btn red">Cancelar Cargo</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="Style/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="Style/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="Style/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="Style/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="Style/assets/global/plugins/nouislider/jquery.nouislider.all.js"></script>
    <!--<script type="text/javascript" src="Style/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>-->
    <script type="text/javascript" src="Style/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="Style/assets/global/scripts/metronic.js"></script>
    <script src="Style/assets/admin/layout3/scripts/layout.js"></script>
    <script src="Style/assets/admin/layout3/scripts/demo.js"></script>
    <script src="Style/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script src="Style/assets/admin/pages/scripts/table-advanced.js"></script>
    <script src="Style/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="Style/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="Style/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
    <script src="JS/jquery.printElement.js"></script>
    <script src="JS/alertify.js"></script>
    <script src="JS/html2canvas.js"></script>
    <script src="JS/Referencias/GenerarReferenciasB.js"></script>


</body>
</html>