<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Referencias</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="Style/assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="Style/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" />
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="Style/assets/global/plugins/clockface/css/clockface.css" />
    <link rel="stylesheet" type="text/css" href="Style/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css" />
    <link href="Style/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css" rel="stylesheet" />
    <link href="Style/assets/global/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="Style/assets/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN /theme STYLES -->
    <link href="Style/assets/admin/pages/css/invoice.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/nouislider/jquery.nouislider.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/nouislider/jquery.nouislider.pips.min.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="Style/assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="Style/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="JS/themes/alertify.core.css" rel="stylesheet" />
    <link href="JS/themes/alertify.default.css" rel="stylesheet" />

</head>
<body style="font-size: 10px !important">
    <div class="page-content">
        <!-- BEGIN PAGE HEAD -->
        <div class="container" id="divContenido">

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    <img src="Imagenes/UYMCA-100px.png" width="70" />
                                </div>
                                <div class="col-md-6">
                                    <h4 class="caption title">REFERENCIAS BANCARIAS </h4>
                                </div>
                                <div class="col-md-1" id="Imprimir">
                                    <a id="btnImprimir" href="javascript:return 0;">
                                        <img src="Imagenes/Impresora.png" width="70" />
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12" id="divBuscar">
                                    <label class="control-label">Clave del Alumno</label>
                                    <input type="text" id="txtClave" class="form-control-static font-md" tabindex="1" />
                                    <a class="btn blue" id="btnBuscar" href="javascript:return 0;" tabindex="2">Buscar Alumno</a>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <hr />
                                    </div>
                                    <div class="col-md-8">
                                        <label class="control-label" style="font-size: 10px">Alumno:</label>
                                        <label id="lblAlumno" class="control-label" style="font-size: 10px"></label>
                                    </div>
                                    <div class="col-md-9">
                                        <label class="control-label" id="lblOferta" style="font-size: 10px"></label>
                                    </div>
                                    <div class="col-md-9">
                                        <label class="control-label bold " style="font-size: 10px; color:red;" id="txtAdeudo">
                                        </label>
                                    </div>
                                    <div class="col-md-9">
                                        <label class="control-label" style="font-size: 10px">
                                            Tus referencias de pago para el cuatrimestre de Enero a Abril del 2016 son:
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered1 dataTables" id="tblReferencias">
                                    <thead>
                                        <tr>
                                            <th class="Titulo-Tabla" colspan="4"></th>
                                            <th class="Titulo-Tabla bold" colspan="2">Pago Anticipado 1er periodo</th>
                                            <th class="Titulo-Tabla bold" colspan="2">Pago Anticipado 2o periodo</th>
                                            <th class="Titulo-Tabla bold" colspan="2">Pago Normal</th>
                                            <th class="Titulo-Tabla bold" colspan="1"></th>
                                        </tr>
                                        <tr>
                                            <th class="Titulo-Tabla">
                                                Cuatrimestre
                                            </th>
                                            <th class="Titulo-Tabla">
                                                Concepto
                                            </th>
                                            <th class="Titulo-Tabla">
                                                Referencia
                                                <br />
                                                Bancaria
                                            </th>
                                            <th class="Titulo-Tabla">
                                                Beca
                                            </th>
                                            <th class="Titulo-Tabla">Monto</th>
                                            <th class="Titulo-Tabla">Fecha Límite de Pago</th>
                                            <th class="Titulo-Tabla">Monto</th>
                                            <th class="Titulo-Tabla">Fecha Límite de Pago</th>
                                            <th class="Titulo-Tabla">Monto</th>
                                            <th class="Titulo-Tabla">Fecha Límite de Pago</th>
                                            <th class="Titulo-Tabla">Saldo</th>
                                            <!--<th class="Titulo-Tabla">
                                                Recargo después de<br /> fecha límite de pago
                                            </th>
                                            <th class="Titulo-Tabla">Total a pagar con<br /> recargos
                                            </th>-->
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered1 dataTables" id="tblPagadas">
                                    <thead>
                                        <tr>
                                            <th class="Titulo-Tabla">Forma de Pago</th>
                                            <th class="Titulo-Tabla">Fecha de Pago</th>
                                            <th class="Titulo-Tabla">Referencia</th>
                                            <th class="Titulo-Tabla">Monto Pagado</th>
                                            <th class="Titulo-Tabla">Monto Referencia</th>
                                            <th class="Titulo-Tabla">Saldo</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="col-md-12">
                                    <div class="col-md-7">
                                        </div>
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-1 right">
                                        <label id="lblTotal" class="control-label"></label>
                                    </div>
                                    </div>
                            </div>
                            <div class="col-md-7  form-body">
                                <div class="col-md-10" style="border-width: 1px; border-style: dashed; border-color: black;">
                                    <div class="col-md-12">
                                        <label class="control-label bold" style="font-size: 10px">Banco Scotiabank</label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label" style="font-size: 10px">No. de Cuenta: 00105771894</label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label" style="font-size: 10px">Nombre del Cliente: Universidad YMCA A.C.</label>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label" style="font-size: 10px">Moneda: MXN</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-body">
                                <br />
                                <p>
                                    <strong>Puntos muy importantes que debes recordar y tomar en cuenta:	 </strong>
                                </p>
                                <strong>• Nuevas referencias bancarias de pago.</strong><p>Todas tus referencias de pago son nuevas, esto es, ya no uses las referencias de pago que se venían manejando, por favor toma las que dice este portal.													</p>
                                <strong>• Paga la cantidad exacta.</strong><p>La cantidad exacta de tu inscripción y colegiaturas estará publicada en el portal, las becas se estarán reflejando en tiempo y forma a partir de la segunda colegiatura.													</p>
                                <strong>• Pagos anticipados se pagan al 100%.</strong><p>La inscripción y la primera colegiatura siempre se pagan al 100%.													</p>
                                <strong>• Beca.</strong><p>De acuerdo al reglamento debes mantener tu promedio mínimo de 8.5, no haber reprobado ninguna materia y tampoco haber dado de baja ninguna materia, si sigues manteniendo tu buen promedio, las cuotas de pago de la segunda colegiatura en adelante se actualizarán y se harán los ajustes de tu beca.													</p>
                                <strong>• Presenta esta hoja en el banco.</strong><p>Para garantizar tu correcto estado de cuenta y no tengas contratiempos con tus tramites,  Imprime esta pantalla de pagos y preséntala al cajero de scotiabank.													</p>
                                <strong>• Conserva tu comprobante de pago. </strong>
                                <p>Para cualquier aclaración ante la Universidad YMCA, debes presentar el comprobante de pago que te entrega el banco.													</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="editor"></div>
    <script src="Style/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="Style/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="Style/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="Style/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="Style/assets/global/plugins/nouislider/jquery.nouislider.all.js"></script>
    <!--<script type="text/javascript" src="Style/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>-->
    <script type="text/javascript" src="Style/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="Style/assets/global/scripts/metronic.js"></script>
    <script src="Style/assets/admin/layout3/scripts/layout.js"></script>
    <script src="Style/assets/admin/layout3/scripts/demo.js"></script>
    <script src="Style/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script src="Style/assets/admin/pages/scripts/table-advanced.js"></script>
    <script src="Style/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="JS/jquery.printElement.js"></script>
    <script src="JS/alertify.js"></script>
    <script src="JS/html2canvas.js"></script>
    <script src="JS/BuscarReferencias.js"></script>
    <script src="//mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
    <script src="JS/jQuery.print.js"></script>
</body>
</html>
