<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title">Generación  de referencias bancarias</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Clave o Nombre del Alumno</label>&nbsp;
                    <input type="text" id="txtAlumno" class="form-control-static font-md" style="text-align:right" />&nbsp;
                    <a class="btn blue " id="btnBuscarAlumno">Buscar Alumno</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet-body form" id="frmVarios" hidden="hidden">
                        <table class="table table-striped table-bordered table-advance table-hover" id="tblAlumnos">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-user"></i>&nbsp; AlumnoId
                                    </th>
                                    <th>
                                        <i class="fa fa-user"></i>&nbsp; Nombre
                                    </th>
                                    <th>
                                        <i class="fa fa-calendar"></i>&nbsp; Registro
                                    </th>
                                    <th>
                                        <i class="fa fa-graduation-cap"></i>&nbsp; Oferta Educativa
                                    </th>
                                    <th>
                                        <i class="fa fa-edit"></i>&nbsp; Acción
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Alumno</label>&nbsp;&nbsp;
                    <label class="bold" id="lblNombre"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6" id="divInscrito" hidden="hidden">
                        <div id="pulsate-regular" class="col-md-12" style="padding:5px;">
                            <label class="control-label bold font-red-flamingo" id="lblInscito">Alumno Inscrito</label>
                        </div>
                    </div>
                    <div class="col-md-6" id="divInscrito2" hidden="hidden">
                        <div id="pulsate-regular2" class="center col-md-6" style="padding:5px;">
                            <label id="lblPagos" class="control-label bold font-green">Pagos sin generar</label>
                        </div>
                    </div>
                    <div class="col-md-6" id="divInscrito3" hidden="hidden">
                        <div id="pulsate-regular3" class="col-md-12" style="padding:5px;">
                            <label class="control-label bold font-red-flamingo">Alumno en Grupo Especial</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Oferta Educativa</label>&nbsp;&nbsp;
                    <input type="text" class="form-control font-md" id="txtOfertaEducativa" readonly="readonly" />
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <label class="control-label">Periodo</label>
                    <input type="text" class="form-control font-md" id="txtPeriodo" readonly="readonly" />
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-md-12" id="divGenerar">
                    <div class="portlet-body form">
                        <table class="table table-striped table-bordered table-advance table-hover" id="tblBecas">
                            <thead>
                                <tr>
                                    <th style="text-align:center">
                                        &nbsp; Periodo
                                    </th>
                                    <th style="text-align:center">
                                        &nbsp; Descripción
                                    </th>
                                    <th style="text-align:center">
                                        &nbsp; BECA
                                        <br> &nbsp;Acádemica
                                    </th>
                                    <th style="text-align:center">
                                        &nbsp; BECA
                                        <br> &nbsp;Deportiva
                                    </th>
                                    <th style="text-align:center">
                                        &nbsp; Otros
                                        <br> &nbsp;Descuentos
                                    </th>
                                    <th style="text-align:center">
                                        &nbsp; BECA
                                        <br> &nbsp;SEP
                                    </th>
                                    <th style="text-align:center">
                                        &nbsp; BECA
                                        <br> &nbsp; COMITE
                                    </th>
                                    <th style="text-align:center">
                                        &nbsp; Usuario
                                    </th>
                                    <th style="text-align:center">
                                        &nbsp; Fecha
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr />
                <div class="col-md-12" id="divGenerar2">
                        <table id="tblBeca" class="form-horizontal" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>
                                        Periodo
                                    </th>
                                    <th>
                                        Descripción
                                    </th>
                                    <th>
                                        BECA Acádemica
                                    </th>
                                    <th style="text-align:center; ">
                                        &nbsp;&nbsp;&nbsp; BECA SEP &nbsp;&nbsp;&nbsp;
                                    </th>
                                    <th>
                                        Documento Beca
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="form-inline">
                                    <td style="background-color:white; text-align:center;">
                                        <label id="lblPeriodoBeca"> </label>
                                    </td>
                                    <td style="background-color:white; ">
                                        <select class="form-control" id="slcDescripcionBeca" disabled></select>
                                    </td>
                                    <td style="background-color:white;border: solid 1px;text-align:center;">
                                        <input type="text" id="txtBecaMonto" name="txtBecaMonto" class="form-control" 
                                               style="text-align:center;height:100%;width:100%; border:0px" 
                                               value="0" pattern="[0-9]" />
                                    </td>
                                    <td style="background-color:white;border: solid 1px;text-align:center;width:150px">
                                        <input type="checkbox" class="switch-state" id="chkSEP" data-checkbox="chkSEP" name="chkSEP" data-on-label="Si" data-off-label="No" />
                                    </td>
                                    <td style="background-color:white;border: solid 1px;text-align:center;">
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-md-12">
                                                <div class="fileinput-new " data-provides="fileinput" id="FileCarta">
                                                    <span class="btn blue  fileinput-button">
                                                        <i class="fa fa-plus"></i>
                                                        <span>
                                                            Seleccionar Archivo...
                                                        </span>
                                                        <input type="file" id="CartaArchivo" name="CartaArchivo" accept=".PDF, .pdf" />
                                                    </span>
                                                    <span id="txtCartaArchivo" class="fileinput-filename"></span>
                                                    <a href="javascript:;" class="close fileinput-exists" data-dissmiss="fileinput"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <label class="control-label bold">
                                            Materias Sueltas
                                        </label>
                                    </td>
                                    <td>
                                        <label class="control-label bold">
                                            Asesorias
                                        </label>
                                    </td>
                                </tr>
                                <tr class="form-inline">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="number" class="form-control" id="txtMateria" max="10" min="0" readonly="readonly" />
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="txtAsesoria" max="10" min="0" readonly="readonly" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row" id="divObservaciones" hidden>
                            <div class="col-md-12">&nbsp;</div>
                            <div class="col-md-12 control-group">
                                <textarea type="text" class="form-control col-md-12" multiple id="txtObservacioes" readonly />
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn green " id="btnGenerarCargos">Reinscribir</button>
                </div>
            </div>
        </div>
    </div>
</main>
<main>
    <div class="modal fade" tabindex="-1" data-backdrop="static" data-width="750" id="divOfertas" data-keyboard="false">
        <div class="modal-dialog modal-sm" style="width:700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="btnClosedivOfertas" aria-hidden="true"></button>
                    <h3 class="modal-title">Ofertas del Alumno</h3>
                </div>
                <div class="modal-body" style="align-content:center">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <table class="table table-striped table-bordered table-advance table-hover" style="width:auto" id="divOfertaAlumno">
                                <thead>
                                    <tr>
                                        <th>Id Oferta</th>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $.getScript("JS/Becas/AlumnosBeca.js");
</script>