<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TitulosPortTypeSoap11">
                    <security mode="Transport" />
                </binding>
                <binding name="TitulosPortTypeSoap111" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://metqa.siged.sep.gob.mx:443/met-ws/services/"
                binding="basicHttpBinding" bindingConfiguration="TitulosPortTypeSoap11"
                contract="Titulos_SEP.TitulosPortType" name="TitulosPortTypeSoap11" />
        </client>
    </system.serviceModel>
</configuration>