<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title">Reporte de Cartera Vencida</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label" for="slcPeriodos"> Periodos: </label>
                    <select class="form-control" id="slcPeriodos"></select>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Fecha Inicial:</label>
                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" id="calInicial" />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Fecha Final:</label>
                    <input class="form-control form-control-inline input-medium date-picker" size="16" type="text" id="calFinal" />
                </div>
                <div class="form-group col-md-2">
                    <label>&nbsp;</label>
                    <button id="btnBuscar" class="form-control btn bg-blue">Consultar</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <!--[if gt IE 9]>-->
                    <p id="xportxlsx" class="btn">
                        <input type="submit" class="btn btn-success" id="btnExportar" value="Exportar a Excel">
                    </p>
                    <!--<![endif]-->
                    <p id="xlsxbtn" class="btn"></p>
                </div>
                <div class="form-group col-md-9">
                </div>
            </div>
            <div class="row"><hr /></div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-advance table-hover" id="tblDatos">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-user"></i>&nbsp; Alumno
                                </th>
                                <th>
                                    <i class="fa fa-calendar"></i>&nbsp; Fecha de Pago
                                </th>
                                <th>
                                    <i class="fa fa-comment"></i>&nbsp; Tipo de Pago
                                </th>
                                <th>
                                    <i class="fa fa-comment-o"></i>&nbsp; Concepto
                                </th>
                                <th>
                                    <i class="fa fa-money"></i>&nbsp; Pagado
                                </th>
                                <th>
                                    <i class="fa fa-money"></i>&nbsp; Por Pagar
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <table hidden id="tblDatos2">
                        <thead>
                            <tr>
                                <th>
                                    <i class="fa fa-user"></i>&nbsp; Alumno
                                </th>
                                <th>
                                    <i class="fa fa-calendar"></i>&nbsp; Fecha de Pago
                                </th>
                                <th>
                                    <i class="fa fa-comment"></i>&nbsp; Tipo de Pago
                                </th>
                                <th>
                                    <i class="fa fa-comment-o"></i>&nbsp; Concepto
                                </th>
                                <th>
                                    <i class="fa fa-money"></i>&nbsp; Pagado
                                </th>
                                <th>
                                    <i class="fa fa-money"></i>&nbsp; Por Pagar
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $.getScript("Scripts/js-xlsx/FileSaver.js");
    $.getScript("Scripts/js-xlsx/xlsx.full.min.js");
    $.getScript("JS/Reportes/CarteraVencida.js");
</script>
