<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Reporte Academico</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="pragma" content="no-cache" />
</head>
<body>
    <div class="page-content">
        <!-- BEGIN PAGE HEAD -->
        <div class="container" id="divContenido">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light" id="dvCargos">
                            <div class="portlet-title">
                                <div class="caption">
                                    <h1 class="caption-subject font-blue bold uppercase">
                                        Reporte Academico
                                    </h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <form class="recovery-form" id="form_recovery">
                                        <div class="tab-pane">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="nav nav-pills nav-justified ">
                                                        <li id="liBeca2"><a href="#divBecas2" data-toggle="tab" class="btn btn-circle default">Alumnos inscritos por cuatrimestre</a></li>
                                                        <li id="liBeca1"><a href="#divBecas1" data-toggle="tab" class="btn btn-circle default">Becas por cuatrimestre</a></li>
                                                        <li id="liBeca3"><a href="#divBecas3" data-toggle="tab" class="btn btn-circle default">Número de becas SEP</a></li>
                                                        <li id="liBeca4"><a href="#divBecas4" data-toggle="tab" class="btn btn-circle default">Reporte de INEGI</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="col-md-4">
                                                <div class="form-group" id="divSlc">
                                                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                                    <label class="control-label">Periodos</label>

                                                    <div class="input-icon right">
                                                        <!--<i class="fa fa-lock"></i>-->
                                                        <select class="form-control" name="slcCuatrimestre" id="slcCuatrimestre"></select>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" id="divSlc2">
                                                
                                                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                                                <label class="control-label">Oferta Educativa</label>

                                                <div class="input-icon right">
                                                    <!--<i class="fa fa-lock"></i>-->
                                                    <select class="form-control" name="slcOferta" id="slcOferta">
                                                        <option selected value="0">--Todas--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="rangoFechas">

                                           <input type="checkbox" id="chkYo">
                                            <label for="chkYo">Rango de fechas</label>
                                            <div class="input-group input-large date-picker input-daterange" data-date="11/10/2012" data-date-format="dd/mm/yyyy">
                                                <span class="input-group-addon">
                                                    Del:
                                                </span>
                                                <input type="text" class="form-control" name="from" id="from" disabled>
                                                <span class="input-group-addon">
                                                    Al:
                                                </span>
                                                <input type="text" class="form-control" name="to" id="to" disabled>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div> &nbsp;</div>
                                            <label class="control-label"># de Registros :  </label>
                                            <label class="control-label" id="lbBecas" name="lbBecas"> </label>
                                        </div>

                                        <div class="col-md-12">

                                            <div class="portlet-body" id="divBecas1" hidden="hidden">
                                                <button id="btndtbecas"> Exportar a Excel <img src="Imagenes/export-to-excel.png" style="height:20px;width:45px;" /></button>
                                                <div> &nbsp;</div>
                                                <table id="dtbecas" name="dtbecas" class="table table-striped table-bordered table-advance table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-indent"></i>&nbsp; Alumno <br /> id
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-male"></i> &nbsp; Nombre Alumno
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class=" fa fa-graduation-cap "></i> <br /> &nbsp; Oferta Educativa
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-money"></i> &nbsp;Tipo <br />beca <br />|Descuento
                                                            </th>
                                                            <th style ="text-align:center">
                                                                <i class="fa fa-pie-chart"></i> &nbsp; Porcentaje <br /> beca <br />| descuento
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-comments-o"></i><br /> Observaciones
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-calendar"></i> &nbsp; Fecha <br /> Generacion
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-clock-o"></i> &nbsp; Hora <br />  Generacion
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-user"></i> &nbsp; Usuario <br /> Aplico
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="portlet-body" id="divBecas2" >
                                                <button id="btndtbecas2"> Exportar a Excel <img src="Imagenes/export-to-excel.png" style="height:20px;width:45px;" /></button>
                                                <div> &nbsp;</div>
                                                <table id="dtbecas2" name="dtbecas2" class="table table-striped table-bordered table-advance table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-indent"></i> &nbsp; Alumno Id
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-male"></i> &nbsp; Nombre Alumno
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-graduation-cap"></i> &nbsp; Oferta Educativa
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-calendar"></i> &nbsp; Fecha  de <br /> Inscripción
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-pie-chart"></i> &nbsp; Porcentaje <br /> beca | descuento
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-user-plus"></i> &nbsp; Tipo de <br /> Alumno
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-suitcase"></i> &nbsp; Es Empresa
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-user"></i> &nbsp; Usuario <br /> Aplico
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="portlet-body" id="divBecas3" hidden="hidden">
                                                <button id="btndtbecas3"> Exportar a Excel <img src="Imagenes/export-to-excel.png" style="height:20px;width:45px;" /></button>
                                                <div> &nbsp;</div>
                                                <table id="dtbecas3" name="dtbecas3" class="table table-striped table-bordered table-advance table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-indent"></i> &nbsp; Alumno <br />Id
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-male"></i> &nbsp; Nombre Alumno
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-graduation-cap"></i> &nbsp; Oferta Educativa
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-pie-chart"></i> &nbsp; Porcentaje <br /> beca | descuento
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-comments-o"></i> &nbsp; Observaciones
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-calendar"></i> &nbsp; Fecha<br /> Generacion
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-clock-o"></i> &nbsp; Hora <br />Generacion
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-user"></i> &nbsp; Usuario Aplico
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="portlet-body" id="divBecas4" hidden>
                                                <button id="btndtbecas4"> Exportar a Excel <img src="Imagenes/export-to-excel.png" style="height:20px;width:45px;" /></button>
                                                <div> &nbsp;</div>
                                                <table id="dtbecas4" name="dtbecas4" class="table table-striped table-bordered table-advance table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-indent"></i> &nbsp; Alumno <br />Id
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-male"></i> &nbsp; Nombre Alumno
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-graduation-cap"></i> &nbsp; Oferta Educativa
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-th-large"></i> &nbsp; Cuatrimestre
                                                            </th>

                                                            <th style="text-align:center">
                                                                <i class="fa fa-venus-mars"></i> &nbsp; Sexo
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-birthday-cake"></i> &nbsp; Edad
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-calendar"></i> &nbsp; Fecha de <br />Nacimiento
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-globe"></i> &nbsp; Lugar de <br /> Nacimiento
                                                            </th>
                                                            <th style="text-align:center">
                                                                <i class="fa fa-globe"></i> &nbsp; Lugar de <br />Ultimo <br />Estudio
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </form>
                                    <div id="div-result">

                                    </div>


                                </div>



                            </div>



                        </div>
                        <div class="row">
                            <!--<a href="#Monto" data-toggle="modal" id="btnPopup"></a>-->
                            <div class="modal fade" tabindex="-1" data-backdrop="static" id="Load" data-keyboard="false">
                                <div class="modal-dialog modal-sm" style="height: 90px;">
                                    <!--<div class="modal-content" style="width:auto">-->
                                    <div class="form-group">
                                        <h3 id="hCarga">Cargando</h3>
                                    </div>
                                    <div class="form-group">
                                        <div class="bar" style="width:auto" id="divBar">
                                            <p id="txtBar"></p>
                                        </div>
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="divContainer">

                </div>
                <div id="displayPDF">

                </div>
        </div>

    </div>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    
    <script src="Scripts/js-xlsx/FileSaver.js"></script>
    <script src="Scripts/js-xlsx/xlsx.full.min.js"></script>

    <script src="JS/Reportes/ReporteAcademico.js"></script>
</body>
</html>
