
<script src="JS/General/Genero.js"></script>
<script src="JS/General/EntidadFederativa.js"></script>
<script src="JS/General/EstadoCivil.js"></script>

<script>
    jQuery(document).ready(function () {
        // initiate layout and plugins
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
        ComponentsKnobDials.init();
        ComponentsPickers.init();
        Genero.init();
        Estado.init();
        EstadoCivil.init();
    });

</script>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <div class="portlet-body form" id="frmTabs">
                <form action="javascript:;" class="form-horizontal" id="submit_form" method="post">
                    <div class="form-wizard">
                        <div class="form-body">

                            <div class="alert alert-danger display-none">
                                <button class="close" data-dismiss="alert"></button>
                                Por favor revisa la información, hay algunos campos inválidos
                            </div>
                            <div class="alert alert-success display-none">
                                <button class="close" data-dismiss="alert"></button>
                                Campos validos
                            </div>
                            <div id="tab1" class="tab-pane">
                                <h3 class="block">Personales</h3>

                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group col-md-10">
                                            <label class="control-label">Nombre</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" id="txtnombre" class="form-control " name="txtnombre" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Apellido Paterno</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" id="txtApPaterno" name="txtApPaterno" class="form-control " readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Apellido Materno</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" id="txtApMaterno" name="txtApMaterno" class="form-control " readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Estado Civil</label>
                                            <div class="input-icon right">
                                                <select class="form-control" id="slcEstadoCivil" name="slcEstadoCivil">
                                                    <option value="-1">--Seleccionar--</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!--Telefono Celular-->
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Teléfono Celular</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" id="txtCelular" name="txtCelular" class="form-control" placeholder="5555555555" />
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 ">

                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Fecha de Nacimiento</label>
                                            <input id="txtFNacimiento" name="txtFNacimiento" type="text" class="form-control" readonly />

                                        </div>
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Genero</label>
                                            <div class="input-icon right">
                                                <select class="form-control" id="slcSexo" name="slcSexo" disabled>
                                                    <option value="-1">--Seleccionar--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Curp-->
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">CURP</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" class="form-control uppercase" id="txtCURP" name="txtCURP" readonly />
                                            </div>
                                        </div>
                                        <!--Correo electronico-->

                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Correo Electrónico</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="email" id="txtEmail" class="form-control email" name="txtemail" />
                                            </div>
                                        </div>
                                        <!--Telefono Casa-->
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Teléfono Casa</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" id="txtTelefonoCasa" name="txtTelefonoCasa" class="form-control" placeholder="55555555" />
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <hr class="line" />
                                        <h3 class="">Dirección</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <!--Calle-->
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Calle</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" class="form-control " id="txtCalle" name="txtCalle" />
                                            </div>
                                        </div>
                                        <!--col-md-5-->
                                        <!--Numero Exterior-->
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Número Exterior</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" class="form-control " id="txtNumeroE" name="txtNumeroE" />
                                            </div>
                                        </div>
                                        <!--Numero Interior-->
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Numero Interior</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" class="form-control " id="txtNumeroI" name="txtNumeroI" />
                                            </div>
                                        </div>
                                        <!--Codigo postal-->
                                        <div class="col-md-10 form-group ">
                                            <div class="col-md-5 form-group ">
                                                <label class="control-label">Código Postal</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control" id="txtCP" name="txtCP" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!--Colonia-->
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Colonia</label>
                                            <div class="input-icon right">
                                                <i class="fa"></i>
                                                <input type="text" class="form-control " id="txtColonia" name="txtColonia" />
                                            </div>
                                        </div>
                                        <!--Estado-->
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Estado</label>
                                            <div class="input-icon right">
                                                <select id="slcEstado" class="form-control" name="slcEstado">
                                                    <option value="-1">--Seleccionar--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Delegacion-->
                                        <div class="col-md-10 form-group">
                                            <label class="control-label">Delegación | Municipio</label>
                                            <div class="input-icon right">
                                                <select class="form-control" id="slcMunicipio" name="slcMunicipio">
                                                    <option value="-1">--Seleccionar--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <hr class="line" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group col-md-10">
                                            <label class="control-label">Nacionalidad</label>
                                            <div class="input-icon right">
                                                <select id="slcNacionalidad" class="form-control" name="slcNacionalidad" disabled>
                                                    <option value="-1">--Seleccionar--</option>
                                                    <option value="1">Mexicana</option>
                                                    <option value="2">Extranjera</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Lugar de Nacimiento-->
                                    <div class="col-md-6">
                                        <div class="form-group col-md-10">
                                            <label class="control-label">Lugar de Nacimiento</label>
                                            <div class="input-icon right">
                                                <select id="slcLugarN" class="form-control" name="slcLugarN" disabled>
                                                    <option value="-1">--Seleccionar--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" tabindex="-1" data-backdrop="static" id="Load" data-keyboard="false">
                            <div class="modal-dialog modal-sm" style="height: 90px;">
                                <!--<div class="modal-content" style="width:auto">-->
                                <div class="form-group">
                                    <h3 id="hCarga">Cargando</h3>
                                </div>
                                <div class="form-group">
                                    <div class="bar" style="width:auto" id="divBar">
                                        <p id="txtBar"></p>
                                    </div>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>

        <div class="modal-footer">

            <div id="divGuardar" class="form-group col-md-1">
                <a href="javascript:;" class="btn blue button-next" id="Guardar">
                    Guardar <i class="fa fa-save"></i>
                </a>
            </div>

        </div>
    </div>
</div>





<script src="JS/Alumno/AlumnoActualizaDatos.js"></script>