<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title">Datos del Alumnos</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-10">
                        <label class="control-label">Clave y|o Nombre del Alumno</label>&nbsp;
                        <input type="text" id="txtAlumno" class="form-control-static font-md" style="text-align:right">&nbsp;
                        <a class="btn blue " id="btnBuscarAlumno">Buscar Alumno</a>
                    </div>
                    <div id="divGuardar" hidden="hidden" class="form-group col-md-1" style="display: none;">
                        <a href="javascript:;" class="btn blue button-next" id="Guardar">
                            Guardar <i class="fa fa-save"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="portlet-body form" id="frmVarios" hidden="hidden">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-advance table-hover" id="tblAlumnos">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-user"></i>&nbsp; AlumnoId
                                    </th>
                                    <th>
                                        <i class="fa fa-user"></i>&nbsp; Nombre
                                    </th>
                                    <th>
                                        <i class="fa fa-calendar"></i>&nbsp; Registro
                                    </th>
                                    <th>
                                        <i class="fa fa-graduation-cap"></i>&nbsp; Oferta Educativa
                                    </th>
                                    <th>
                                        <i class="fa fa-edit"></i>&nbsp; Acción
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="portlet-body form" id="frmTabs" hidden="hidden">
                    <form action="javascript:;" class="form-horizontal" id="submit_form" method="post">
                        <div class="form-wizard">
                            <div class="form-body">

                                <div class="alert alert-danger display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Por favor revisa la información, hay algunos campos inválidos
                                </div>
                                <div class="alert alert-success display-none">
                                    <button class="close" data-dismiss="alert"></button>
                                    Campos validos
                                </div>
                                <div id="tab1" class="tab-pane">
                                    <h3 class="block">Personales</h3>

                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="col-md-2">
                                                <img id="fotoAlumno" style="width:120px; height:150px; border-style:double;border-width:4px;">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="col-md-8">
                                                <label class="control-label">Nombre</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" id="txtnombre" class="form-control " name="txtnombre" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Fecha de Nacimiento</label>
                                                <input id="txtFNacimiento" name="txtFNacimiento" type="text" class="form-control" readonly />
                                            </div>
                                            <div class="col-md-5">
                                                <label class="control-label">Genero</label>
                                                <div class="input-icon right">
                                                    <select class="form-control" id="slcSexo" name="slcSexo" disabled>
                                                        <option value="-1">--Seleccionar--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <label class="control-label">CURP</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control uppercase" id="txtCURP" name="txtCURP" readonly />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <hr class="line" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 ">
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Estado Civil</label>
                                                <div class="input-icon right">
                                                    <select class="form-control" id="slcEstadoCivil" name="slcEstadoCivil">
                                                        <option value="-1">--Seleccionar--</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!--Telefono Celular-->
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Teléfono Celular</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" id="txtCelular" name="txtCelular" class="form-control" placeholder="5555555555" />
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 ">
                                            <!--Correo electronico-->
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Correo Electrónico</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="email" id="txtEmail" class="form-control email" name="txtemail" />
                                                </div>
                                            </div>
                                            <!--Telefono Casa-->
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Teléfono Casa</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" id="txtTelefonoCasa" name="txtTelefonoCasa" class="form-control" placeholder="55555555" />
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <hr class="line" />
                                            <h3 class="">Dirección</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!--Calle-->
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Calle</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control " id="txtCalle" name="txtCalle" />
                                                </div>
                                            </div>
                                            <!--col-md-5-->
                                            <!--Numero Exterior-->
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Número Exterior</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control " id="txtNumeroE" name="txtNumeroE" />
                                                </div>
                                            </div>
                                            <!--Numero Interior-->
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Numero Interior</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control " id="txtNumeroI" name="txtNumeroI" />
                                                </div>
                                            </div>
                                            <!--Codigo postal-->
                                            <div class="col-md-10 form-group ">
                                                <div class="col-md-5 form-group ">
                                                    <label class="control-label">Código Postal</label>
                                                    <div class="input-icon right">
                                                        <i class="fa"></i>
                                                        <input type="text" class="form-control" id="txtCP" name="txtCP" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!--Colonia-->
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Colonia</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" class="form-control " id="txtColonia" name="txtColonia" />
                                                </div>
                                            </div>
                                            <!--Estado-->
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Estado</label>
                                                <div class="input-icon right">
                                                    <select id="slcEstado" class="form-control" name="slcEstado">
                                                        <option value="-1">--Seleccionar--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!--Delegacion-->
                                            <div class="col-md-10 form-group">
                                                <label class="control-label">Delegación | Municipio</label>
                                                <div class="input-icon right">
                                                    <select class="form-control" id="slcMunicipio" name="slcMunicipio">
                                                        <option value="-1">--Seleccionar--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <hr class="line" />
                                            <h3 class="">Persona de contacto (contactar en caso de emergencia)</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!--Apartado de Persona Autorizada-->
                                            <div class="form-group col-md-10">
                                                <label class="control-label">Nombre</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" id="txtPAutorizada" class="form-control" name="txtPAutorizada" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-10">
                                                <label class="control-label">Apellido Paterno</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" id="txtAPPaterno" name="txtAPPaterno" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-10">
                                                <label class="control-label">Apellido Materno</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" id="txtAPMaterno" name="txtAPMaterno" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label class="control-label">Parentesco</label>
                                                <div class="input-icon right">
                                                    <select class="form-control" id="slcParentesco" name="slcParentesco">
                                                        <option value="-1">--Seleccionar--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group col-md-10">
                                                <label class="control-label">Correo Electrónico</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="email" id="txtPEmail" name="txtPEmail" class="form-control" placeholder="Correo Electrónico:" />
                                                </div>
                                            </div>
                                            <div class="form-group col-md-10">
                                                <label class="control-label">Teléfono Celular</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" id="txtTelefonoPA" name="txtTelefonoPA" class="form-control" />
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-10">
                                                <label class="control-label">Teléfono Casa</label>
                                                <div class="input-icon right">
                                                    <i class="fa"></i>
                                                    <input type="text" id="txtTelefonoPAT" name="txtTelefonoPAT" class="form-control" />
                                                    <span class="help-block"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $.getScript("JS/Alumnos/AlumnoDatosCoordinador.js");
</script>