<main>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="caption title">PROMOCIÓN EN CASA</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 ">

                    <div class="form-group col-md-3">
                        <label class="control-label"> Periodo </label>
                        <select id="slcPeriodo" name="slcPeriodo" class="form-control"></select>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <hr />
                            <table id="dtAlumno" class="table table-striped table-bordered table-advance table-hover ">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">
                                            Clave | Nombre Alumno
                                        </th>
                                        <th style="text-align:center">
                                            Oferta Educativa
                                        </th>
                                        <th style="text-align:center">
                                            Clave | Nombre Alumno Prospecto
                                        </th>
                                        <th style="text-align:center">
                                            Acción
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Popup de Agregar prospecto-->
<div class="modal fade" tabindex="-1" data-width="600" id="PopAlumnoProspecto" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="btnClosedivCom" aria-hidden="true"></button>
                <h3 class="modal-title">Asignación de Promoción</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Alumno: </label>&nbsp;&nbsp;
                        <label class="bold" id="lblNombre"></label>
                    </div>
                </div>
                <div class="row"><hr /></div>
                <div class="row form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-2">Mes</label>
                            <div class="col-md-10">
                                <select id="slcMes" name="slcMes" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-2">Monto </label>
                                <div class="col-md-10">
                                    <input type="number" id="txtMonto" class="form-control" tabindex="1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" aria-hidden="true" class="btn btn-default">Cerrar</button>
                    <a class="btn blue" id="btnPromocion" tabindex="2">Aplicar</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $.getScript("JS/Alumnos/PromocionCasa.js");
    </script>
