<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Promoción en casa</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="pragma" content="no-cache" />
</head>
<body>
    <div class="page-content">
        <!-- BEGIN PAGE HEAD -->
        <div class="container" id="divContenido">

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    <img src="Imagenes/UYMCA-100px.png" width="70" />
                                </div>
                                <div class="col-md-6">
                                    <h4 class="caption title">PROMOCIÓN EN CASA</h4>
                                </div>
                            </div>
                        </div>

                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-12 ">

                                    <div class="form-group col-md-3">
                                        <label class="control-label"> Periodo </label>
                                        <select id="slcPeriodo" name="slcPeriodo" class="form-control"></select>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <hr />
                                            <table id="dtAlumno" class="table table-striped table-bordered table-advance table-hover ">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">
                                                            Clave | Nombre Alumno
                                                        </th>
                                                        <th style="text-align:center">
                                                            Oferta Educativa
                                                        </th>
                                                        <th style="text-align:center">
                                                            Clave | Nombre Alumno Prospecto
                                                        </th>
                                                        <th style="text-align:center">
                                                            Acción
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>



                                </div>

                            </div>

                        </div>

                        <!--Popup de Agregar prospecto-->
                        <div class="modal fade" tabindex="-1" data-width="600" data-height="200" id="PopAlumnoProspecto">
                            <div class="modal-dialog modal-dialog" style="width:550px">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" id="btnClosedivCom" aria-hidden="true"></button>
                                    <h3 class="modal-title">Asignación de Promoción</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="col-md-12">
                                        <label class="control-label">Alumno: </label>&nbsp;&nbsp;
                                        <label class="bold" id="lblNombre"></label>
                                    </div>
                                    <div class="col-md-12 ">
                                        <hr />
                                        <div class="form-group col-md-6">
                                            <label class="control-label"> Mes </label>
                                            <select id="slcMes" name="slcMes" class="form-control"></select>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <div> &nbsp;</div>
                                            <label class="control-label">Monto </label>
                                            <input type="number" id="txtMonto" class="form-control-static font-md" tabindex="1" />
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button data-dismiss="modal" aria-hidden="true" class="btn btn-default">Cerrar</button>
                                    <a class="btn blue" id="btnPromocion" tabindex="2">Aplicar</a>
                                </div>
                            </div>
                            
                        </div>

                        <div class="modal fade" tabindex="-1" data-backdrop="static" id="Load" data-keyboard="false">
                            <div class="modal-dialog modal-sm" style="height: 90px;">
                                <!--<div class="modal-content" style="width:auto">-->
                                <div class="form-group">
                                    <h3 id="hCarga">Cargando</h3>
                                </div>
                                <div class="form-group">
                                    <div class="bar" style="width:auto" id="divBar">
                                        <p id="txtBar"></p>
                                    </div>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="JS/Alumnos/PromocionCasa.js"></script>
</body>
</html>
